@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-top: 2px solid var(--foreground);
}

nav {
  background-color: var(--background);
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--foreground);
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--foreground);
  font-weight: 500;
}
