@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  min-height: 80vh;
  margin: 0;
}
footer {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-top: 2px solid var(--foreground);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: semibold;
}

nav a:hover,
nav a.active {
  color: orange;
  transition: all 0.3s ease-in-out;
}
